body{
    background: #BDBDBD;
}
.boxservices1 {
    display: flex;
}
.boximagen1 {  
    width: 330px;
    height: 460px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.boxtexto1 {
    width: 740px;
    height: 460px;
    padding-top: 75px;
    margin-left: 100px;
}
.imagen1 {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;
}
.boxservices2 { 
    display: flex;
}
.boximagen2 { 
    width: 330px;
    height: 460px;
    margin-left: 90px;
    display: flex;
    align-items: center;
}
.boxtexto2 { 
    width: 780px;
    height: 460px;
    padding-top: 65px;
}
.imagen2 {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;
}
h2 {
    font-size: 38px;
}
.textogris1 {
    color: gray;
}
.textogris2 {
    color: gray;
}
p {
    font-size: 20px;
}