body{
    background: #BDBDBD;
}
.boxservices {
    border: dashed red 1px;
    display: flex;
}
.boximagen {
    border: dashed red 1px;
    width: 330px;
    height: 460px;
    margin-left: 110px;
    display: flex;
    align-items: center;
}
.boxtexto {
    border: dashed red 1px;
    width: 780px;
    height: 460px;
    padding-top: 60px;
}
.imagen2 {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;
}
h2 {
    font-size: 38px;
}
.textogris {
    color: gray;
}
p {
    font-size: 20px;
}