<!-- your html code here -->
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <div class="boxcontact">
                <div class="boxtextcontact">
                    <h2>Contact</h2>
                    <p>Donec ullamcorper non metus auctor fringilla. Vestibulum id lingula porta felis euismod semper.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fucse dapibus, tellus ac cursus
                        commodo.</p>
                </div>
                <div class="boxinput bg-light rounded-1 border border-tertiary">
                    <form>
                        <div class="mb-3 d-flex">
                            <label for="exampleInputEmail1" class="form-label1"><strong>Your E-mail</strong></label>
                            <input type="email" class="form-control1 border border-tertiary" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="  Your email">
                        </div>
                        <div class="messagge">
                            <label class="form-label2" for="textarea1"><strong>Your message</strong></label>
                            <div class="form-floating">
                                <textarea class="form-control2 border border-tertiary"
                                    placeholder="  Please enter your message here..." id="floatingTextarea2"></textarea>

                            </div>
                        </div>
                        <div class="button1">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>