<!-- your html code here -->
<div class="container bg-white">
    <div class="row">
        <div class="col-12">
            <div class="boxcontact">
                <div class="boxtextcontact">
                    <h2>Contact</h2><p>Donec ullamcorper non metus auctor fringilla. Vestibulum id lingula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fucse dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>             
</div>