<!-- your html code here -->
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <div class="boxservices1">
                <div class="boxtexto1"><h2>This First Heading <span class="textogris1">Will Catch Your Eye</span></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="boximagen1"><img src="./assets/img/1.jpg" alt="teclado" class="imagen1"></div>
            </div>
        </div>
    </div>
</div>