<!-- your html code here -->
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- LOGO a la izquierda -->
         <a class="navbar-brand me-4" href="#">Start Bootstrap</a>
          <!-- Contenedor de links -->
           <div class="collapse navbar-collapse show" id="navbarNav">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item px-3"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="#">Portfolio</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
