<!-- your html code here -->
<div class="container">
    <div class="row bg-success">
        <div class="col-12">
            <div class="boxservices">
                <div class="boximagen"><img src="./assets/img/2.jpg" alt="teclado" class="imagen2"></div>
                <div class="boxtexto"><h2>The Second Heading <span class="textogris">Is Pretty Cool Too.</span></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>
</div>