<!-- your html code here -->
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <div class="boxservices2">
                <div class="boximagen2"><img src="./assets/img/2.jpg" alt="teclado" class="imagen2"></div>
                <div class="boxtexto2"><h2>The Second Heading <span class="textogris2">Is Pretty Cool Too.</span></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>
</div>